<html>
<head>
  <title>udraw capi</title>
</head>
<body>
  <h1>Welcome to the udraw cAPI</h1>
  <p><em>An HTTP2 enabled tile server</em></p>
  <h3>Puppet stuff</h3>
  <h4>Environment: <%= @environment -%></h4>
</body>
</html>